<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Citas Médicas - Médico</title>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/10086/10086922.png" type="image/x-icon" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet" />
	<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
	<style>
		* {
			font-family: "Lato", sans-serif;
			margin: 0%;
			padding: 0;
			overflow: hidden;
		}

		.submit {
			border: none;
			outline: none;
			width: 245px;
			height: 65px;
			background: #ececec;
			border-radius: 5px;
			transition: 0.4s;
			font-weight: bold;
			cursor: default;
		}

		.submit:hover {
			/* background: rgba(37,95,156,0.9); */
			background: #37CDCD;
			color: #fff;
		}

		.submit2 {
			border: none;
			outline: none;
			width: 70px;
			height: 45px;
			background: #ececec;
			border-radius: 5px;
			transition: 0.4s;
			font-weight: bold;
			cursor: default;
		}

		.submit2:hover {
			/* background: rgba(37,95,156,0.9); */
			background: #37CDCD;
			color: #fff;
			cursor: pointer;
		}

		.submit3 {
			border: none;
			outline: none;
			width: 70px;
			height: 45px;
			background: #6C757D;
			border-radius: 5px;
			transition: 0.4s;
			font-weight: bold;
			cursor: default;
		}

		.submit3:hover {
			background: rgb(139, 148, 154);
		}

		.card:hover {
			box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
		}

		#cont:hover {
			background: #ececec;

		}

		#an:hover {
			cursor: pointer;
		}
	</style>
	<header></header>
	<main>
		<div class="container-fluid p-0">
			<div class="row">
				<div class="col-3 p-0" style="width: 300px; height: 750px; background: #d2d2d22c;">
					<div class="container d-flex justify-content-center mt-4">
						<a class="navbar-brand d-flex align-items-center" th:href="@{/homeUsuario}">
							<img src="https://cdn-icons-png.flaticon.com/512/10086/10086922.png" alt="Avatar Logo"
								style="width: 45px;">
							<span class="text-black fw-bold fs-4" style="margin-left: 15px;">CURITAS S.A.</span>
						</a>
					</div>
					<div id="cont" class="p-3 d-flex justify-content-center" style="margin-top: 27%;">
						<a class="navbar-brand d-flex align-items-center" th:href="@{/homeMedico}">
							<i class='bx bx-sm bxs-dashboard' style="margin-left: 10px;"></i>
							<span class="fw-bold fs-6" style="margin-left: 15px;">Dashboard</span>
						</a>
					</div>
					<div id="cont" class="p-3 d-flex justify-content-center" style="margin-top: 10%;">
						<a class="navbar-brand d-flex align-items-center" th:href="@{/vermisdatosmedico}">
							<i class='bx bx-sm bxs-user-circle'></i>
							<span class="text-black fw-bold fs-6" style="margin-left: 15px;">Mi cuenta</span>
						</a>
					</div>
					<div id="cont" class="p-3 d-flex justify-content-center" style="margin-top: 10%;">
						<a class="navbar-brand d-flex align-items-center" th:href="@{/eps/medico}">
							<i class='bx bx-sm bxs-location-plus' style="margin-left: 50px;"></i>
							<span class="text-black fw-bold fs-6" style="margin-left: 15px;">Ubicaciones EPS</span>
						</a>
					</div>
					<div class="container d-flex justify-content-center" style="margin-top: 95%;">
						<div class="input-field">
							<form th:action="@{/loginMedico}">
								<input type="submit" class="submit" name="log-out" id="log-out" value="Cerrar sesión">
							</form>
						</div>
					</div>
				</div>
				<div class="col-9">
					<div class="container-fluid">
						<div class="row">
							<h5 class="fw-bold mt-4" style="margin-left: 15px;">Citas médicas - Listado</h5>
							<h6 style="color: #37CDCD; font-weight: bold; margin-left: 15px;">Fecha: <span
									style="color: #000; font-weight: 400;"
									th:text="${#dates.format(#dates.createNow(), 'MMMM d yyyy')}"></span></h6>
							<div class="my-4 d-flex align-items-center"
								style="margin-left: 1020px; position: absolute;">
								<i class='bx bx-md bxs-user-circle mx-2'></i>
								<h6 class="fw-bold" style="text-decoration: none; color: #000;" href="#">
									Medico asociado
								</h6>
							</div>
							<a th:href="@{/miscitasmedico(format=pdf)}" target="_blank"
								class=" fw-bold d-flex align-items-center"
								style="margin-left: 1020px; margin-top: 90px; position: absolute; text-decoration: none; color: #000;">
								<i class='bx bx-md bxs-file-pdf mx-2'></i>
								HC: Exportar a PDF
							</a>
						</div>
					</div>
					<div class="container-fluid mt-5">
						<table class="table table-hover my-3" style="margin-left: 2%;">
							<thead class="table-white">
								<tr class="text-center">
									<td><strong>Fecha</strong></td>
									<td><strong>Hora</strong></td>
									<td><strong>Sede</strong></td>
									<td><strong>Dirección</strong></td>
									<td><strong>Tipo</strong></td>
									<td><strong>Paciente</strong></td>
									<td><strong>Historia Clínica</strong></td>
									<td><strong>Eliminar</strong></td>
								</tr>
							</thead>
							<tbody class="text-center">
								<tr th:each="cita, iterStat : ${citas}">
									<td>[[ ${cita.fecha} ]]</td>
									<td>[[ ${cita.hora} ]]</td>
									<td>[[ ${cita.medico.eps.sede} ]]</td>
									<td>[[ ${cita.medico.eps.direccion}]]</td>
									<td>[[ ${cita.tipo} ]]</td>
									<td>[[ ${cita.usuarios.nombre} + ' ' + ${cita.usuarios.apellido}]]</td>
									<td>
										<a class="mx-1" id="an"
											th:href="@{/historiaClinica/new/{citaId}(citaId = ${cita.id})}">
											<i class='bx bxs-folder-plus fs-4' style="color: #37CDCD;"></i>
										</a>
									</td>
									<td>
										<a class="mx-1 text-danger" id="an" data-bs-toggle="modal"
											th:data-bs-target="'#modalEliminar' + ${iterStat.index}">
											<i class='bx bxs-message-square-x fs-4'></i>
										</a>
										<!-- Modal -->
										<div class="modal fade" th:id="'modalEliminar' + ${iterStat.index}"
											data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
											aria-labelledby="staticBackdropLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar
															médico</h1>
														<button type="button" class="btn-close" data-bs-dismiss="modal"
															aria-label="Close"></button>
													</div>
													<div class="modal-body">
														<p>¿Quiere eliminar la cita del paciente [[
															${cita.usuarios.nombre} + ' ' + ${cita.usuarios.apellido}]]?
														</p>
													</div>
													<div class="modal-footer">
														<a th:href="@{/citasmed/delete/{id}(id = ${cita.id})}"
															class="submit2 d-flex justify-content-center align-items-center"
															style="text-decoration: none; color: #000; font-weight: bold;">Si</a>
														<input type="button" class="submit3" value="No"
															data-bs-dismiss="modal">
													</div>
												</div>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</main>
	<footer></footer>

	<!-- Bootstrap JavaScript Libraries -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
		crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
		integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
		crossorigin="anonymous"></script>
</body>

</html>